:root {
  --orange: #F4A740;
  --yellow: #FDD47D;
  --green:  #134F3A;
  --grey:   #7B7B7B;
  --black:  #222222;
  --white:  #FFFFFF;
}

[data-md-color-scheme="forestobs-light"] {
  --md-primary-fg-color: var(--green);
  --md-primary-fg-color--dark: var(--black);
  --md-default-bg-color: var(--white);
  --md-primary-bg-color: var(--white);
  --md-accent-fg-color:  var(--orange);
}

[data-md-color-scheme="slate"] {
  --md-hue: 150; /* [0, 360] */
  --md-primary-fg-color: var(--green);
  --md-primary-fg-color--dark: var(--black);
  --md-default-bg-color: var(--black);
  --md-primary-bg-color: var(--white);
  --md-accent-fg-color:  var(--yellow);
  --md-typeset-a-color:  var(--orange);
}
